body {
    background-color: gold;
}
h1 {
    font-size: 4rem;
    color: maroon;
    text-align: center;
    transition: 1s;
}

h1:hover {
    color: mediumblue;
    cursor: pointer;
}

p {
    font-size: 2rem;
    color: green;
}